In [ ]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

# Lecture 10 #

## Functions with multiple arguments and review of tb.apply()

In [ ]:
ages = Table().with_columns(
    'Person', make_array('A', 'B', 'C', 'D'),
    'Age', make_array(23, 110, 28, 102)
)
ages

In [ ]:
# define the cut_off function that takes two arguments

In [ ]:
# get its type

In [ ]:
# try out the function

In [ ]:
# apply the function to a table

In [ ]:
# define another derived function called cut_off_50

## Prediction example ##

To practice applying functions to data, let's look at data collected by Francis Galton.

In [ ]:
galton = Table.read_table('galton.csv')

In [ ]:
#Each row corresponds to one adult child
#family = family indicator
#father height (inches) 
#mother height (inches) 
#"midparent height"= weighted average of parents' heights
#children= # of children in the family
#childNum = child's birth rank (1 = oldest)
#gender
#height (inches)
galton

In [ ]:
# get only the columns we need
heights = galton.select(3, 7).relabeled(0, 'MidParent').relabeled(1, 'Child')

In [ ]:
# Side note:  overlapping histogram

In [ ]:
# create a scatter plot of the data

In [ ]:
# add vertical lines in a particular range of values


#plots.plot([67.5, 67.5], [50, 85], color='red', lw=2)
#plots.plot([68.5, 68.5], [50, 85], color='red', lw=2);

In [ ]:
# calculate mean of childrens' heights for parents whose heights are in a particular range

In [ ]:
# plot the mean child height on the scatter plot

In [ ]:
# write a function to predict a child's height based on their (average) parents' heights that fall in a particular range

In [ ]:
# try to make some predictions

In [ ]:
# predict all values in our data set

In [ ]:
# add predictions to our heights table and plot the results

## Apply with Multiple Columns ##

If we have a function that takes two arguments, we can apply it to values in two columns. 

Let's examine the range of temperatures that occur on different days.

In [ ]:
temperatures = Table.read_table('temperatures.csv')
temperatures

In [ ]:
# plot the high and the low temperature as a function of the day

In [ ]:
# plot the high and the low temperature overlapping histograms

In [ ]:
# create a scatter plot of the high and the low temperature

In [ ]:
# Difference between high temp and low temp

In [ ]:
# calculate the spread of temperatures on each day and add it to our table

In [ ]:
# create a histogram of the spreads of temperatures

In [ ]:
# calculate the proportion of days that have more than a 20 degree spread in temperatures

## Grouping by Category ##

Previously we've seen how we can use the `tb.group()` method to calculate the number of values in each group. We will now also use to to apply a function separately to each group.

In [ ]:
all_cones = Table.read_table('cones.csv')
all_cones

In [ ]:
# remove the Color column for now

In [ ]:
# count how many cones there are of each Flavor

In [ ]:
# Calculate the minimum price for each Flavor

In [ ]:
# Get the average price for each Flavor

In [ ]:
# Get a list of prices for each Flavor

In [ ]:
# User-defined function

In [ ]:
# Use your own function in .group

## Grouping by multiple columns

We can also group by multiple columns. This will allow give us separate values for each combination of values in the columns we group by.

In [ ]:
# Count how many items have a particular Flavor and Color combination

In [ ]:
# Take the average price for each particular Flavor and Color combination

## Example - NBA salaries ##

In [ ]:
nba = Table.read_table('nba_salaries.csv').relabeled(3, 'SALARY')
nba

In [ ]:
# Total salary paid by each team, highest first

In [ ]:
# what happens if we don't select only numerical columns first?

In [ ]:
# Average salary paid for each position

In [ ]:
# For each team, average salary paid for each position