In [ ]:
# Credit:  Data8.org

from datascience import *
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

## Python Expressions ##

Let's do some basic arithmetic in Python...

## Names ##

We can assign a value to a `name` which store the value. We can then refer to the name in future operations. 

Let's do the following:
- Assign 10 to the the name `a`
- Assign 6 to the the name `b`
- Assign the sum of `a` and `b` to a name called `total`

### Yearly minimum wage salarly

The minimum wage in Connecticut as $13 per hour. If someone was working 40 hours a week for all 52 weeks in a year, what would their yearly salary be?  

While we could do the calculation in a single step, let's create some intermediate names to make the calculation more comprehensible. In particular, create the following names as part of intermediate calculations: 

- `hours_per_week`: the number of hours in a work week (40)
- `weeks_per_year`: the number of weeks in a year 
- `total_hours`: the total number of hours in a year
- `ct_hourly_minimum_wage`: minimum wage in Connecticut 
- `total_wages`: total wages earned in a year

## Functions ##

Functions (also refered to as `call expressions`) take in input values (called `arguments`) and return an output value. 

A few example functions are: 

- `abs()`: Takes the absolute value of a number
- `min(x, y, ..., z)`: Takes the minimum value of x, y, ..., z
- `round()`: round a number, potentially to a given number of decimal places

## Tables ##

Tables stored structured data. We can use the `datascience` package to create `Table` objects that we can perform data manipulation operations on (the `Table` object is a simplified version of a Pandas DataFrame). 

Some methods we can perform on `Table` objects are:
- `tb.show(k)`: show the first k rows of the table
- `tb.select('col1', 'col2')`: select `col1` and `col2` from the table
- `tb.drop('col')`: remove `col` from the table
- `tb.sort('col')`: sort the rows in the table based on the values in `col`
- `tb.where('col', value)`: reduce the table to rows where `col` is equal to `value` 

These methods all return Table objects that have been modified based on the methods that have been called. 


Let's look at data on ice cream cones that is described in the class textbook.

In [ ]:
# Load the ice cream data. Each row represents one ice cream cone.
cones = Table.read_table('cones.csv')
cones

In [ ]:
# Show the first 2 rows of the data

In [ ]:
# select only the Flavor column

In [ ]:
# the original cones Table is not modified

In [ ]:
# select the Flavor and Price columns

In [ ]:
# remove the Color column

In [ ]:
# sort by price

In [ ]:
# sort by price highest to loweset

In [ ]:
# select only the chocolate cones

In [ ]:
# We can combine mulitple method called. Let's drop the color and then sort by price

## Example: NBA Salaries ##

Let's look basketball (NBA) salaries from the 2015-2016 season. The data is originally from https://www.statcrunch.com/app/index.php?dataid=1843341

In [ ]:
# NBA players, 2015-2016 season
nba = Table.read_table('nba_salaries.csv').relabeled(3, 'SALARY')

nba

In [ ]:
# Let's get Stephen Curry's data

In [ ]:
# Let's get data from the New York Knicks