In [ ]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

In [ ]:
cones = Table.read_table('cones.csv')

## Review ##

In [ ]:
cones

In [ ]:
x = cones.select('Flavor', 'Color')
x

In [ ]:
y = x.drop('Color')
y

In [ ]:
x = cones.select('Color', 'Price')
x

In [ ]:
y

## Numbers ##

In [ ]:
10 * 3

In [ ]:
10      # int

In [ ]:
1.7 + 4  # float

In [ ]:
2 + 3 # int

In [ ]:
2. + 3 # float

In [ ]:
10 / 3            # float

In [ ]:
10 / 2  # still a float

In [ ]:
123 ** 4

In [ ]:
1234567 ** 890 # limited size, but limit is large

In [ ]:
.12345678901234567890123456789 # limited precision

In [ ]:
30 / 400

In [ ]:
30 / 4000000000 # output in scientific notation

In [ ]:
9 ** 0.5

In [ ]:
13 ** 0.5

In [ ]:
(13 ** 0.5) ** 2 # After arithmetic, the final few decimal places can be wrong

In [ ]:
float(3)

In [ ]:
int(6.75)

## Strings ##

In [ ]:
'Flavor'

In [ ]:
'any snippet of text'

In [ ]:
'2' + 'x'    # concatenation

In [ ]:
'straw' + 'berry'

In [ ]:
'two ' + 'words' # notice the space after the 'two '

In [ ]:
'ha' * 5

In [ ]:
str(2)

In [ ]:
int('2')

In [ ]:
int('2.3')

In [ ]:
float('2.3')

In [ ]:
int(float('2.3'))

In [ ]:
str('3', '2') # To concatenate strings, use +

In [ ]:
'3'+'2'

In [ ]:
2 + 'x'

In [ ]:
"I'm a data scientist!"

In [ ]:
'I'm a data scientist!'

## Types ##

In [ ]:
type(2.3)

In [ ]:
type(100)

In [ ]:
type('abcd')

In [ ]:
a = 5.7
type(a)

In [ ]:
type(cones)

## Arrays ##

In [ ]:
make_array(1, 2, 3, 4)

In [ ]:
my_array = make_array(5, 6, 7, 8)

In [ ]:
my_array

In [ ]:
len(my_array)

In [ ]:
sum(my_array)

In [ ]:
sum(my_array) / len(my_array)

In [ ]:
my_array

In [ ]:
my_array * 2

In [ ]:
another_one = make_array(20, 30, 40, 50)

In [ ]:
my_array + another_one

In [ ]:
yet_another = make_array(1, 2, 3, 4, 5, 6)
my_array + yet_another

In [ ]:
my_array

In [ ]:
my_array.item(0)

## Ranges ##

In [ ]:
np.arange(4)

In [ ]:
np.arange(5, 25)

In [ ]:
np.arange(5, 25, 10)

In [ ]:
np.arange(5, 26, 10)

## Columns of Tables are Arrays ##

In [ ]:
cones.select('Price')  # still a table

In [ ]:
type(cones.select('Price'))

In [ ]:
cones.column('Price') # an array

In [ ]:
type(cones.column('Price'))