In [3]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

# Lecture 22

## Python

In [4]:
def sum_up_to(k):
    if k < 0:
        return "invalid input fool"
    
    total = 0
    for i in np.arange(k + 1):
        total = total + i
    return total


sum_up_to(10)

55

In [5]:
def sum_up_to2(k):
    if k < 0:
        return "invalid input fool"
    
    return np.sum(np.arange(k + 1))


sum_up_to2(10)

55

## Tables

In [7]:
sf = Table.read_table('san_francisco_2015.csv')
sf.show(2)

In [8]:
# What is the Mayor's total compensation? 
sf.where('Job', 'Mayor').select("Total Compensation")  # in a Table
sf.where('Job', 'Mayor').column("Total Compensation").item(0) # as a number

379798.03

In [9]:
# what proportion of people are making more than $100,000?
sf.where('Total Compensation', are.above(100000)).num_rows/sf.num_rows

0.4875898485659122