In [3]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

## Reading a Table from a File  ##

More commonly, we create tables by reading data file (usually a comma separated value (.csv) file).

Let's explore this by looking at data on the number of troops in Napoleon's army as they tried to invade Russia in 1812. This data was the data that was used by [Charles Joseph Minard](https://en.wikipedia.org/wiki/Charles_Joseph_Minard) to create his famous visualization of these events. Please see [Chapter 6](https://inferentialthinking.com/chapters/06/Tables.html) of the class texbook for more on this topic.

In [4]:
minard = Table.read_table('minard.csv')

In [5]:
minard

Longitude | Latitude | City        | Direction | Survivors
32        | 54.8     | Smolensk    | Advance   | 145000
33.2      | 54.9     | Dorogobouge | Advance   | 140000
34.4      | 55.5     | Chjat       | Advance   | 127100
37.6      | 55.8     | Moscou      | Advance   | 100000
34.3      | 55.2     | Wixma       | Retreat   | 55000
32        | 54.6     | Smolensk    | Retreat   | 24000
30.4      | 54.4     | Orscha      | Retreat   | 20000
26.8      | 54.3     | Moiodexno   | Retreat   | 12000

## Selecting data in a column ##

In [6]:
# get a table that only has the survivors column

In [7]:
# get an array that only has the survivors column

In [8]:
# get the first item from the survivors table

## Extending a table with a new column ##

In [9]:
# get the proportion that survived at each date

In [10]:
# add the proportion that survived at each date to the table

In [11]:
# format the information in the proportion that survived to be shown as a percentage

## Working with Columns ##

In [12]:
# examining data on movies
movies = Table.read_table('movies_by_year_with_ticket_price.csv')

In [13]:
movies.show()

In [14]:
# get the column names

In [15]:
# get the number of rows

In [16]:
# get the number of tickets sold for each movie

In [17]:
# add the number of tickets sold for each movie as a column to the table

In [18]:
# format it appropriately

In [19]:
# plot the number of tickets sold as a function of the year

## Rows ##

In [20]:
# limit results to a subset of the years

In [21]:
# look at a specific movie Avatar

In [22]:
# look at a specific movie Avatar (simplier way to do it)

In [23]:
# look at all the Harry Potter movies

In [24]:
# look at year's that had fiew than 450 movies

In [25]:
# look at recent years

In [26]:
# get the third row

In [27]:
# get the first four rows