In [16]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

## Lecture 18 ##

## Student's lament ##

In [17]:
# scores of all the students in the Intro Statistics class and the section of the class they were in
scores = Table.read_table('scores_by_section.csv')
scores

Section | Midterm
1       | 22
2       | 12
2       | 23
2       | 14
1       | 20
3       | 25
4       | 19
1       | 24
5       | 8
6       | 14
... (349 rows omitted)

In [18]:
# calculate the number of students in each section

In [19]:
# calculate the average score in each section

In [20]:
# randomly sample scores from 27 students to replicate section 3 under the null hypothesis

In [21]:
# get the average score of these fake "section 3" students

In [22]:
# repeat the process again

In [23]:
# create a null distribution

In [24]:
# write down the actual average score of section 3

In [25]:
# visualize the null distribution and the observed statistic

### Calculating the p-value

In [26]:
# calcuate the p-value

In [27]:
# draw a line to better visualize the p-value